<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/guest-head}"/>
</head>
<body id="page-top">
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <th:block th:include="~{fragments/user-navbar}"/>
    </nav>
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to MEGA EVENTS!</div>
            </div>
        </div>
    </header>



    <section class="py-5">
        <div class="container">
            <div class="intro-heading">
                <div class="align-content-center">
                <h2 class="justify-content-center">ABOUT US</h2>
                </div>
                <br><br>
                <h5>Welcome to Events in Bulgaria! We do believe that events are the heartbeat of any place and this is why we created a site where we will be doing our best to list interesting events from all over the country and present their stories.
                    Find really exciting options for having fun in different Bulgarian cities, with authentic experiences such as festivals, concerts, exhibitions and many other events in Bulgaria, during which you will become part of contemporary Bulgarian cultural life.</h5>
            </div>


        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.jackdaniels.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/jackdaniels.png}" alt="Logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.greygoose.com">
                        <img class="img-fluid d-block mx-auto pic-small"  th:src="@{/img/logos/grey.jpg}" alt="Logos">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.glenfiddich.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/glen.jpg}" alt="Logoa">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.finlandia.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/fin.jpg}" alt="Logod">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <th:block th:include="~{fragments/footer}"/>
    </footer>
</div>
</body>
</html>