<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/guest-head}"/>
</head>
<body id="page-top">
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <th:block th:include="~{fragments/user-navbar}"/>
    </nav>
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Choose your event</div>
                <form method="post" th:action="@{/hotel/chooseevent}">
                    <select name="event" class="mdb-select md-form colorful-select dropdown-primary">
                        <option style="color: black" th:each="event,iStat: ${events}" name="event"
                                th:value="${event.getName()}"
                                th:text="${event.getName()}">
                        </option>
                    </select>
                    <br>
                    <br>
                    <input class="btn btn-primary btn-primary text-uppercase js-scroll-trigger" type="submit"
                           value="Find">
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </header>




    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.jackdaniels.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/jackdaniels.png}" alt="Logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.greygoose.com">
                        <img class="img-fluid d-block mx-auto pic-small"  th:src="@{/img/logos/grey.jpg}" alt="Logos">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.glenfiddich.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/glen.jpg}" alt="Logoa">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.finlandia.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/fin.jpg}" alt="Logod">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <th:block th:include="~{fragments/footer}"/>
    </footer>
</div>
</body>
</html>