<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/guest-head}"/>
</head>
<body id="page-top">
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <th:block th:include="~{fragments/user-navbar}"/>
    </nav>

    <header class="py-5">
        <div class="container">
            <div class="intro-text ">
                <form th:action="@{/hotels/details/{id}(id=${hotel.id})}" th:method="post" >
                    <div class="intro-lead-in">
                        <br><br><br><br><br><br>
                        <h1 class="justify-content-center" th:text="${hotel.name}"></h1>
                    </div>
                    <br><br>
                    <div class="w3-content w3-section " style="max-width:2000px">
                        <img th:src="${hotel.imageUrl}" style="width:100%">
                        <br><br>
                        <h5 th:text="${hotel.description}"></h5>
                        <br><br>
                        Price:
                        <h5 th:text="${hotel.price}"></h5>
                    </div>
                    <div >
                        Enter the rooms you want!<br>
                        Single rooms:<br>
                        <input type="number" class="round-corners" name="singleRoom"
                               placeholder="Count of single rooms..."><br><br>
                        Double rooms:<br>
                        <input type="number" class="round-corners" name="doubleRoom"
                               placeholder="Count of double rooms..."><br><br>
                        Room for three:<br>
                        <input type="number" class="round-corners" name="roomForThree"
                               placeholder="Count of rooms for three..."><br><br>
                        Room for four:<br>
                        <input type="number" class="round-corners" name="roomForFour"
                               placeholder="Count of rooms for four..."><br><br>
                        <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Reserve</button>
                    </div>
                </form>
            </div>
        </div>
    </header>


    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.jackdaniels.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/jackdaniels.png}" alt="Logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.greygoose.com">
                        <img class="img-fluid d-block mx-auto pic-small"  th:src="@{/img/logos/grey.jpg}" alt="Logos">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.glenfiddich.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/glen.jpg}" alt="Logoa">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.finlandia.com">
                        <img class="img-fluid d-block mx-auto pic-small" th:src="@{/img/logos/fin.jpg}" alt="Logod">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <th:block th:include="~{fragments/footer}"/>
    </footer>
</div>
</body>
</html>